<!DOCTYPE html>
<html>
    <head>
        <%- include("../fragments/head.ejs") %>
        <style>
            main{
                padding-left:15px;
                padding-top:15px;
            }
        </style>
    </head>
    <body>
        <%- include("../fragments/header.ejs") %>
        <main>
            <%- include("../fragments/gallery.ejs") %>
        </main>
        <%- include("../fragments/footer.ejs") %>
    </body>
</html>