<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/sfaturi.css">
        <%- include("../fragments/head.ejs") %>
    </head>
    <body>
        <%- include("../fragments/header.ejs") %>
        <main>
            <div class="duotone-brusture">
            </div>
        </main>
        <%- include("../fragments/footer.ejs") %>
    </body>
</html>