<footer>
    <p id="bannertwo">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
    <a href="tel:073-456-7890">0734567890</a>
    <a href = "mailto:xd@s.unibuc.ro">Email</a>
    <a href="https://wa.me/073456789000" target="_blank">wapp</a>
    <small>&#169;<time datetime="2022-10-16 00:22">16 Oct 2022</time></small>
    <address><a href = "https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4354973,26.1002236,19z/data=!4m12!1m6!3m5!1s0x0:0xee62eda4d786c152!2sUniversitatea+din+Bucure%C8%99ti!8m2!3d44.4355117!4d26.1017417!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">Strada Sirenelor, nr. 9, Bucuresti, Sector 3, Romania</a></address>
    <div id="arrow">
        <a id='top-link' href="#"><span id="sus-btn">&#129081</span></a><span id="sus-text">Mergi Sus</span>
    </div>
</footer>