

<header>
    <h1>Farmacias</h1>
    <nav>
        <h1 id="title" style="display:none">Farmacias</h1>
        <p id="watermark" style="display:none"></p>
        <p id="absolut" style="display:none"></p>
        <ul class="menu" id="navbar">
            <li>
                <a href = "/"><i id="home-icon" class="fa fa-home" style="font-size:20px"></i> <span class="home-text">Acasa</span></a>
                <ul class="submenu">
                    <a href = "#OTC">Medicamente OTC</a>
                    <a href = "#vit">Vitamine si suplimente</a>
                    <a href = "#int">Videoclipuri interesante</a>
                </ul>
            </li>
            <li><a href = "/oferte">Oferte</a></li>
            <li><a href = "/servicii">Servicii</a></li>
            <li><a href = "/sfaturi">Sfaturi Medicale</a></li>
        </ul>
    </nav>
    <i id="hamburger-icon" class="fas fa-bars" onclick="switchHamburgerMenu()"></i>
</header>
<!-- Doar pentru print -->
<div>
    <h1 style="display:none" id="title">Farmacias</h1>
    <ul style="display:none" id="meniuprint">
        <li>Acasa</li>
        <li>Oferte</li>
        <li>Servicii</li>
        <li>Sfaturi Medicale</li>
    </ul>
    <div style="display:none" id="banner">
        Acesta este un proiect școlar!
    </div>
    <p style="display:none" id="watermark">Matei<br>Tudor Cristian</p>
</div>